html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0,auto;
}
.cor{
    background-color: #F0E3CE;
}
/* -=-=-| Inicio Cabeçalho |-=-=- */

header .cabecalho{
    background-color: #EBAB69;
    color: white;
}
header .cont{
    padding: 10px;
}
header .logo{
    transition: all 0.5s;
    cursor: pointer;
}
.logo:hover{
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
}
header .texto{
    padding-top: 20px ;
    color: white;
}
header .carrinho{
    transition: all 0.5s;
    cursor: pointer;
}
.carrinho:hover{
    -webkit-transform: scale(1.0);
    transform: scale(1.1);

}

/* -=-=-| Fim Cabeçalho |-=-=- */
/* -=-=-| Inicio Conteudo |-=-=- */
.conteudo{
    flex: 1 0 auto;
}
.img{
    height: 300px;
    width: 100%;
    border: black,1px;
}
.bimg{
    height: 300px;
    width: 100%;
    border: black,1px;
}
.bane1{
    background-color: wheat;
    height: 40px;
    width: 80%;
}
main .fundoAd{
    width: 100%;
    border: 5px solid #454545;
    background-color: #ffd7ab;
}
.insIm{
    background-color: white;
    height: 170px;
    width: 300px;
}
.botG{
    background-color: #888888;
    height: 50px;
    width: 200px;
    font-size: 1.4rem;
}
.botR{
    background-color:#E04700;
    height: 50px;
    width: 200px;
    font-size: 1.4rem;
}
.limp{
    text-decoration: none;
    color:inherit;
}
/* -=-=-| Fim Conteudo |-=-=- */
/* -=-=-| Inicio Rodapé |-=-=- */
.rodape{
    flex-shrink: 0;
    background-color: #EBAB69;
    color: white;
    padding: 30px;
}
.icon{
    width: 40px;
    height: 40px;
}
hr{
    height: 4px;
    background-color: white;
    border: none;
    padding-top: 4px;
}
/* -=-=-| Fim Rodapé |-=-=- */