/*CSS Breno*/
.body{
    background-color: #F0E3CE;
    margin: 0,auto;
    color: white;
}
header{
    background-color: #EBAB69;
    width: 100%;
}
footer{
    background-color: #EBAB69;
    width: 100%;
}
.img{
    height: 300px;
    width: 100%;
    border: black,1px;
}
.bimg{
    height: 300px;
    width: 100%;
    border: black,1px;
}
.bane1{
    background-color: #E1B587;
    height: 40px;
    width: 80%;
}
.container h3{
    color: black;
}


/*CSS Gabriel*/

header .cabecalho{

    background-color: #EBAB69;

}

header .logo{

    padding: 1vh;

}
header .cont{

    padding: 1vh;

}


body .A_branc_laran{

    padding-top: 5vh;
    max-width: 50vh;
    max-height: 60vh;

}