/*CSS Breno*/
.body{
    background-color: #F0E3CE;
    margin: 0,auto;
    color: white;
}
header{
    background-color: #EBAB69;
    width: 100%;
}
footer{
    background-color: #EBAB69;
    width: 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;    
    text-align: center;
    line-height: 100px;
}
.img{
    height: 300px;
    width: 100%;
    border: black,1px;
}
.bimg{
    height: 300px;
    width: 100%;
    border: black,1px;
}
.bane1{
    background-color: #E1B587;
    height: 40px;
    width: 80%;
}
.container h3{
    color: black;
}
.retpro{
    height: 15%;
    border: black 2px;
}
.descpro{
    font-size: 10vh;
}
.botzap{
    height: 40px;
    width: 240px;
    background-color: #52AE65;
    border-radius: 10%;
}
/*CSS Gabriel*/

header .cabecalho{
    background-color: #EBAB69;
}
header .logo{
    padding: 1vh;
}
header .cont{
    padding: 1vh;
}
body .A_branc_laran{
    padding-top: 5vh;
    max-width: 50vh;
    max-height: 60vh;
}
