.aumento{
    color: #ffffff;
    font-size: 2.5rem;
}
html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0,auto;
}
.conteudo{
    flex: 1 0 auto;
    padding-top: 25 px;
}

header {
    background-color: black;
    color: white;
}
span{
    text-decoration: none;
    list-style: none;
    color: black;
}
.cor {
    background-color: black;
    color: white;
    border-radius: 5px;
}
.cor_frete {
    background-color: #42A3DA;
    color: white;
    border-radius: 5px;
    margin-bottom: 25px;
}
.color_rodape{
    text-decoration: none;
    list-style: none;
    color: white;
}
.rodape{
    flex-shrink: 0;
    background-color: black;
    color: white;
    padding: 30px;
}
.azul:hover{
    background-color: #42A3DA;
    color: #ffffff;
}
.container .row a {
    text-decoration: none;
    list-style: none;
    color: black;
}
.cor {
    background-color: black;
    color: white;
    border-radius: 5px;
}



/* -=-=- | Inicio Conteudo | -=-=- */
.conteudo{
    flex: 1 0 auto;
    padding-top: 50px;
}


/* -=-=- | Inicio PHP HTML | -=-=- */
.distance {
    padding-top: 20px
}
/* -=-=- | Inicio Primeira Parte -=-=- */
.car .cores label {
    display: inline-block;
    padding: 10px;
    border-radius: 50px;
    border : solid 1px black;

  }

.car .azul  {
    background-color: blue;
}
.car .laranja {
    background-color: orange;
}


.car input[type="radio"] {
    display: none;
}
  
.car input[type="radio"]:checked + label {
    border: solid 2px green;
}

/* -=-=- | Fim Primeira Parte -=-=- */

/* -=-=- | Inicio Segunda Parte -=-=- */

.car .tamanho {
    display: inline-block;
    text-align: center;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    border : solid 1px black;
    font-size: smaller;
}

/* -=-=- | Fim Segunda Parte -=-=- */

/*  -=-=- | Inicio Terceira Parte -=-=- */

/* -=-=- | Navegador | -=-=- */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}
/* -=-=- | Navegador | -=-=- */

.bot {
    display: inline-block;
    text-align: center;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    border : solid 1px black;
    font-size: smaller;
    background-color: #D9D9D9;
}
.bot p{
    color: #000;
    padding-bottom: 10px;
}
.quantidade input[type="number"] {
    text-align: center;
    text-decoration: none;
}
.car input[type="number"] {
    text-align: center;
    border: none;
}

.car input[type="button"] {
    text-align: center;
    border-radius: 10px;
}

 .bt_carrinho {

    background-color: #454545;
    color: white;
    align-items: center;
}
.bt_whatsapp {
    
    background-color: #03612e;
    color: white;
    align-items: center;
    
}
.prod {
    width: 100%;
    height: 100%;
}
.coraline button {
    width: 200px;
    min-height: 40px;
    border-radius: 10px;
}

.metodo_tamanho {
    height: 35px;
    width: 100%;
}

.nome_tamanho {
    height: 35px;
    width: 100%;
}
/* -=-=- | Fim Terceira Parte -=-=- */
/* -=-=- | FIM PHP HTML | -=-=- */
/* -=-=- | Fim Conteudo | -=-=- */

/* -=-=- | Inicio PHP | -=-=- */


.icone{
    width: 25px;
    height: 25px;
}
.img{
    height: 300px;
    width: 100%;
    border: black,1px;
}
.bimg{
    height: 300px;
    width: 100%;
    border: black,1px;
}
.bane1{
    background-color: #E1B587;
    height: 40px;
    width: 80%;
}
.caixa{
    background-color: white;
    border: black solid 3px;
}
.pad{
    padding-top: 10px;
}


/* -=-=- | FIM PHP | -=-=- */
.btnSubmit {
    width: 100%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #03612e;
    border: none;
    cursor: pointer;
    margin-right: 6%;
    color: rgb(246, 246, 252);
    margin-top: 4%;
}

/* -=-=- | Inicio Rodape | -=-=- */

.color_rodape span{
    text-decoration: none;
    list-style: none;
    color: white;
}
.rodape{
    flex-shrink: 0;
    background-color: black;
    color: white;
}
/* -=-=- | Fim Rodape | -=-=- */