html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0,auto;
}
.cor{
    background-color: #ffffff;
}
/* -=-=-| Inicio Cabeçalho |-=-=- */

header .cabecalho{
    background-color: #EBAB69;
    color: white;
}
header .cont{
    padding: 10px;
}
header .logo{
    transition: all 0.5s;
    cursor: pointer;
}
.logo:hover{
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
}
header .texto{
    padding-top: 20px ;
    color: white;

}

header .carrinho{
    transition: all 0.5s;
    cursor: pointer;
}
.carrinho:hover{
    -webkit-transform: scale(1.0);
    transform: scale(1.1);

}

/* -=-=- | Fim Cabeçalho | -=-=- */

/* -=-=- | Inicio Conteudo | -=-=- */
.conteudo{
    flex: 1 0 auto;
}
.produ{
    width: 350px;
    height: 450px;
}

/* -=-=- | Inicio PHP | -=-=- */
.car label {
    display: inline-block;
    padding: 10px;
    border-radius: 50px;
    border : solid 1px black;
    transition: all 0.3s;
  }

.car label div[class*="azul"]{
    background-color: blue;
    border: solid 5px;
}
.car .azul input[type="radio"]:checked + label {
    border: solid 10px green;
}
.car .laranja > label{
    background-color: orange;
}


.car input[type="radio"] {
    display: none;
}
  
.car input[type="radio"]:checked + label {
    border: solid 10px green;
}
/* -=-=- | FIM PHP | -=-=- */

/* -=-=- | Fim Conteudo | -=-=- */
/* -=-=- | Inicio Rodapé | -=-=- */
.rodape{
    flex-shrink: 0;
    background-color: #EBAB69;
    color: white;
    padding: 30px;
}
.icon{
    width: 40px;
    height: 40px;
}
hr{
    height: 4px;
    background-color: white;
    border: none;
    padding-top: 4px;
}
/* -=-=-| Fim Rodapé |-=-=- */