html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0,auto;
}
.cor{
    background-color: #fff;
}

/* -=-=-| Inicio Cabeçalho |-=-=- */
header .cabecalho{
    background-color: #EBAB69;
    color: white;
}
header .cont{
    padding: 10px;
}
header .logo{
    transition: all 0.5s;
    cursor: pointer;
}
.logo:hover{
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
}
header .texto{
    padding-top: 20px ;
    color: white;
 
}

header .carrinho{
    transition: all 0.5s;
    cursor: pointer;
}
.carrinho:hover{
    -webkit-transform: scale(1.0);
    transform: scale(1.1);

}

/* -=-=- | Fim Cabeçalho | -=-=- */

/* -=-=- | Inicio Conteudo | -=-=- */
.conteudo{
    flex: 1 0 auto;
    padding-top: 50px;
}
.produ{
    width: 365px;
    height: 450px;

}

/* -=-=- | Inicio PHP | -=-=- */
.distance {
    padding-top: 20px
}
/* -=-=- | Inicio Primeira Parte -=-=- */
.car .cores label {
    display: inline-block;
    padding: 10px;
    border-radius: 50px;
    border : solid 1px black;

  }

.car .azul  {
    background-color: blue;
}
.car .laranja {
    background-color: orange;
}


.car input[type="radio"] {
    display: none;
}
  
.car input[type="radio"]:checked + label {
    border: solid 2px green;
}

/* -=-=- | Fim Primeira Parte -=-=- */

/* -=-=- | Inicio Segunda Parte -=-=- */

.car .tamanho {
    display: inline-block;
    text-align: center;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    border : solid 1px black;
    font-size: smaller;
}

/* -=-=- | Fim Segunda Parte -=-=- */

/*  -=-=- | Inicio Terceira Parte -=-=- */

/* -=-=- | Navegador | -=-=- */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}
/* -=-=- | Navegador | -=-=- */

.bot {
    display: inline-block;
    text-align: center;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    border : solid 1px black;
    font-size: smaller;
    background-color: #D9D9D9;
}
.bot p{
    color: #000;
    padding-bottom: 10px;
}
.quantidade input[type="number"] {
    text-align: center;
    text-decoration: none;
}
.car input[type="number"] {
    text-align: center;
    border: none;
}

.car input[type="button"] {
    text-align: center;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    display: none;
}

 .bt_carrinho {
    display: inline-block;
    margin-top: 50px;
    background-color: #454545;
    color: white;
    width: 180px;
    height: 45px;
    border-radius: 10px;
}
.bt_whatsapp {
    display: inline-block;
    margin-top: 50px;
    background-color: #52AE65;
    width: 180px;
    height: 45px;
    border-radius: 10px;
    border: solid 1px black;
    text-align: center;
    padding-top: 8px;

}
.bt_whatsapp .zap {
    width: 25px;
    height: 25px;
    border: none;
}
.coraline a, .coraline a:hover  {
    text-decoration: none;
    color: white;
}


/* -=-=- | Fim Terceira Parte -=-=- */

/* -=-=- | FIM PHP | -=-=- */

/* -=-=- | Fim Conteudo | -=-=- */
/* -=-=- | Inicio Rodapé | -=-=- */
.rodape{
    flex-shrink: 0;
    background-color: #EBAB69;
    color: white;
    padding: 30px;
}
.icon{
    width: 40px;
    height: 40px;
}
/* -=-=-| Fim Rodapé |-=-=- */