html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #F0E3CE;
    margin: 0,auto;
}
/* -=-=-| Inicio Cabeçalho |-=-=- */

header .cabecalho{
    background-color: #EBAB69;
    color: white;
}
header .cont{
    padding: 10px;
}
header .logo{
    transition: all 0.5s;
    cursor: pointer;
}
.logo:hover{
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
}
header .texto{
    padding-top: 20px ;
    color: white;
    transition: all 0.5s;
    cursor: pointer; 
}
.texto:hover{
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
}
header .carrinho{
    transition: all 0.5s;
    cursor: pointer;
}
.carrinho:hover{
    -webkit-transform: scale(1.0);
    transform: scale(1.1);

}

/* -=-=-| Fim Cabeçalho |-=-=- */
/* -=-=-| Inicio Conteudo |-=-=- */
.conteudo{
    flex: 1 0 auto;
}
.img{
    height: 300px;
    width: 100%;
    border: black,1px;
}
.bane1{
    background-color: #E1B587;
    height: 40px;
    width: 80%;
}
/* -=-=-| Fim Conteudo |-=-=- */
/* -=-=-| Inicio Rodapé |-=-=- */
.rodape{
    flex-shrink: 0;
    background-color: #EBAB69;
    color: white;
    padding: 30px;
}
/* -=-=-| Fim Rodapé |-=-=- */