
html, body{
    font-family: Volga;
    height: 100%;
}
body{
    font-family: Volga;
    display: flex;
    flex-direction: column;
    margin: 0,auto;
}
.conteudo{
    flex: 1 0 auto;
    padding-top: 25 px;
}

header {
    background-color: black;
    color: white;
}
.col-3 a{
    text-decoration: none;
    list-style: none;
    color: black;
}
button a{
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
}
.cor {
    background-color: black;
    color: white;
    border-radius: 5px;
}
.cor_frete {
    background-color: #42A3DA;
    color: white;
    border-radius: 5px;
    margin-bottom: 25px;
}
.color_rodape{
    text-decoration: none;
    list-style: none;
    color: white;
}
.rodape{
    flex-shrink: 0;
    background-color: black;
    color: white;
    padding: 30px;
}
.container .row .selecionado{
    background-color: #000000;
    color: white;
    height: 30px;
}
.azul:hover{
    background-color: #42A3DA;
    color: #ffffff;
    height: 30px;

}
.container .row a{
    text-decoration: none;
    list-style: none;
    color: black;
}
.produ{
    background-color: #d4d3d3;
    border-radius: 5px;
}
.imgcar{
    width: 150px;
    height: 150px;
}
.botz{
    background-color:  #52AE65;
    color: #ffffff;
    border-radius: 5px;
    font-size: 1.7rem;
}