html, body{
    height: 100%;
}
body{
    font-family: Volga;
    display: flex;
    flex-direction: column;
    margin: 0,auto;
}
.conteudo{
    flex: 1 0 auto;
    padding-top: 25 px;
}

header {
    background-color: black;
    color: white;
}
.col-3 a{
    text-decoration: none;
    list-style: none;
    color: black;
}
.cor {
    background-color: black;
    color: white;
    border-radius: 5px;
}
.cor_frete {
    background-color: #42A3DA;
    color: white;
    border-radius: 5px;
    margin-bottom: 25px;
}
.color_rodape{
    text-decoration: none;
    list-style: none;
    color: white;
}
.imgc{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    border: #000000 solid 1px;
}

.rodape{
    flex-shrink: 0;
    background-color: black;
    color: white;
    padding: 30px;
}
.container .row .selecionado{
    background-color: #000000;
    color: white;
    height: 30px;
}
.azul:hover{
    background-color: #42A3DA;
    color: #ffffff;
    height: 30px;

}
.container .row a{
    text-decoration: none;
    list-style: none;
    color: black;
}
.imgc:hover{
    background-color: #42A3DA;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    border: #000000 solid 1px;
}