.aumento{
    color: #ffffff;
    font-size: 2.5rem;
}
html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0,auto;
}
.conteudo{
    flex: 1 0 auto;
    padding-top: 25 px;
}

header {
    background-color: black;
    color: white;
}
.col-3 a{
    text-decoration: none;
    list-style: none;
    color: black;
}
button a{
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
}
.cor {
    background-color: black;
    color: white;
    border-radius: 5px;
}
.cor_frete {
    background-color: #42A3DA;
    color: white;
    border-radius: 5px;
    margin-bottom: 25px;
}
.color_rodape{
    text-decoration: none;
    list-style: none;
    color: white;
}
.rodape{
    flex-shrink: 0;
    background-color: black;
    color: white;
    padding: 30px;
}
.container .row .selecio{
    background-color: #000000;
    color: white;
    height: 30px;
}
.azul:hover{
    background-color: #42A3DA;
    color: #ffffff;
}
.azulu{
    background-color: #42A3DA;
    color: #ffffff;
    border-radius: 5px;
}
.fpag{
    background-color: #000000;
    color: #42A3DA;
    border-radius: 5px;
    font-size: 1.2rem;
    height: 50px;
    width: 200px;
}
.formul{
    background-color: #cecece;
    height: 100%;
    width: 400px;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 5px;
}
.prodfor{
    background-color: #e6dede;
}

.botz{
    background-color:  #52AE65;
    color: #ffffff;
    border-radius: 5px;
    font-size: 1.7rem;
}