header .cabecalho{

    background-color: #EBAB69;

}

header .logo{

    padding: 1vh;

}
header .cont{

    padding: 1vh;

}


body .A_branc_laran{

    padding-top: 5vh;
    max-width: 50vh;
    max-height: 60vh;

}