
.aumento{
    color: #ffffff;
    font-size: 2.5rem;
}
html, body{
    height: 100%;
}
body{
    font-family: Volga;
    display: flex;
    flex-direction: column;
    margin: 0,auto;
}
.conteudo{
    flex: 1 0 auto;
    padding-top: 25 px;
}
.icon {
    width: 40px;
    height: 40px;
    cursor: pointer;

}
header {
    background-color: black;
    color: white;
}
 a{
    text-decoration: none;
    list-style: none;
    color: black;
}
.cor {
    background-color: black;
    color: white;
    border-radius: 5px;
}
.bt_logar {
    background-color: #42A3DA;
    color: white;
    align-items: center;
}
.bt_fechar {

    background-color: #454545;
    color: white;
    align-items: center;
}
.cor_frete {
    background-color: #42A3DA;
    color: white;
    border-radius: 5px;
    margin-bottom: 25px;
}
.color_rodape{
    text-decoration: none;
    list-style: none;
    color: white;
}
.rodape{
    flex-shrink: 0;
    background-color: black;
    color: white;
    padding: 30px;
}
.container .row .selecionado{
    background-color: #000000;
    color: white;
    height: 30px;
}
.azul:hover{
    background-color: #42A3DA;
    color: #ffffff;
    height: 30px;
}

.nm_prod {


}